footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 16px;

  background-color: #001e2b;
  height: max-content;
  width: auto;

  padding-top: 6em;
  padding-bottom: 1em;

  > div {
    gap: 1.5rem;
    padding: 3rem;
    max-width: 37em;
    width: auto;
    justify-content: center;
  }

  h1 {
    color: #fff;
    font-size: 2.1875rem;
    font-weight: 700;
  }

  h4,
  label {
    color: #5c6c75;
    font-weight: lighter;
  }

  button {
    padding: 0.8rem 1rem;
    background-color: #0aad0a;
    border: solid 0px white;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  h4 {
    margin: 1.5em 0em;
  }

  a {
    text-decoration: none;
    color: #0aad0a;
  }
}
