.Main-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  margin-top: 5em;

  p {
    max-width: 60rem;
    text-align: center;
    padding: 0.5em;
  }

  h2 {
    margin: 0.25em;
  }

  .cardHolder {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
