.main-container {
  background-color: #eee;
  border: solid 0px #333;
  padding: 0.5em;
  cursor: pointer;

  color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .banifits-list {
    list-style-type: disc;
  }
}
