.container {
  padding: 4em 2em;
  margin: 0px;
  background-color: #111;
  height: 10em;
  justify-content: center;
  align-items: center;

  img {
    width: 2.5rem;
    height: auto;
  }

  h3 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
  }

  p {
    font-size: 18px;
    color: #ccc;
    white-space: pre-line;
  }
}
