body {
  padding: 0px;
  margin: 0px;

  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;

  background-color: #1c1c1c;
  user-select: none;
  text-wrap-style: balance;
}
