.Main-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  p {
    max-width: 60rem;
    text-align: center;
  }
}

.cardHolder {
  display: grid;
  background-color: #555;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  gap: 2px;
  margin: 2em;
  max-width: 100em;
  width: 60em;

  border-radius: 1em;
  overflow: hidden;

  @media (max-width: 700px) {
    /* width: 10em !important; */
    grid-template-columns: 1fr !important;
  }

  @media (max-width: 1000px) {
    width: 80% !important;
    grid-template-columns: repeat(2, 1fr);
  }
}
